{% extends 'base.html.twig' %}

{% block body %}
    <h1>Xmas Shapes</h1>

    {% block content %}
        {% if not error %}
            <p>Drawing a <strong>{{ shape }}</strong>, size <strong>{{ size }}</strong>.</p>
            <p>{{ drawing|raw|nl2br }}</p>
        {% else %}
            <p>{{ error|raw|nl2br }}</p>
        {% endif %}
    {% endblock %}
{% endblock %}